# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Firebase service keys
serviceAccountKey.json

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

seed/

json_files/
/generated/prisma
